.content
{
    margin: 2em auto;
    max-width: 40em;
    padding: 0 1em;
}

html, body
{
    height: 100%;
}

.full
{
    height: 100%;
    background-color: blue
}

.logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 320px;
    margin-left: -160px;
    margin-top: -160px;
}

.logo img
{
    width: 100%;
}

#one
{
    background-image: url("../images/one.jpg");
}

#two
{
    background-image: url("../images/two.jpg");
}

#three
{
    background-image: url("../images/three.jpg");
}


#four
{
    background-image: url("../images/four.jpg");
}

#five
{
    background-image: url("../images/five.jpg");
}

.full
{
    height: 100%;
    background-size: cover;
}

.full
{
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#mc_embed_signup
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30em;
	height: 13em;
	margin: -6.5em 0 0 -15em;

	background: pink;
}

input
{
	box-sizing: border-box;
	width: 100%;
}

input[type="email"]
{
	padding: .5em;
}

input[type="submit"]
{
	margin: 1em 0;
	background-color: black;
	color: pink;
	border-radius: .25em;
	border: none;
	padding: .5em;
	/*font-size: 1.5em;*/
}
